[Desktop Entry]
Encoding=UTF-8
Name=New Login
Name[as]=নতুন প্ৰৱেশ
Name[bn_IN]=নতুন লগ-ইন
Name[dz]=ནང་བསྐྱོད་གསརཔ།
Name[gu]=નવો પ્રવેશ
Name[hy]=Նոր մուտք
Name[kn]=ಹೊಸ ದಾಖಲಾತಿ
Name[mk]=Ново најавување
Name[mn]=Шинэ нэвтрэлт
Name[nso]=Go Tsena go go Swa
Name[or]=ନୂତନ ଲଗଇନ୍
Name[sr@Latn]=Nova prijava
Name[te]=కొత్త ప్రవేశద్వారం
Name[wa]=Novea elodjaedje
Name[xh]=Ungeno Olutsha
Name[zu]=Umngenisi omusha
GenericName=New Login
GenericName[as]=নতুন প্ৰৱেশ
GenericName[bn_IN]=নতুন লগ-ইন
GenericName[dz]=ནང་བསྐྱོད་གསརཔ།
GenericName[gu]=નવો પ્રવેશ
GenericName[hy]=Նոր մուտք
GenericName[kn]=ಹೊಸ ದಾಖಲಾತಿ
GenericName[mk]=Ново најавување
GenericName[mn]=Шинэ нэвтрэлт
GenericName[nso]=Go Tsena go go Swa
GenericName[or]=ନୂତନ ଲଗଇନ୍
GenericName[sr@Latn]=Nova prijava
GenericName[te]=కొత్త ప్రవేశద్వారం
GenericName[wa]=Novea elodjaedje
GenericName[xh]=Ungeno Olutsha
GenericName[zu]=Umngenisi omusha
Comment=Log in as another user without logging out
Comment[as]=লগ-আউট না কৰে পৃথক ব্যবহাৰকাৰীৰূপে প্ৰৱেশ কৰক
Comment[bn_IN]=লগ-আউট না করে পৃথক ব্যবহারকারীরূপে লগ-ইন করুন
Comment[dz]=ཕྱིར་བསྐྱོད་མ་འབད་བར་ ལག་ལེན་པ་གཞན་ཅིག་བཟུམ་སྦེ་ ནང་བསྐྱོད་འབད།
Comment[gu]=બહાર નીકળ્યા વગર બીજા વપરાશકર્તા તરીકે પ્રવેશ કરો
Comment[kn]=ಹೊರಗೆ ನಿರ್ಗಮಿಸದೆ, ಬೇರೊಂದು ಬಳಕೆದಾರನಾಗಿ ಪ್ರವೇಶಿಸು
Comment[mk]=Најави се како друг корисник без да се одјавиш
Comment[mn]=Өөрөө гаралгүйгээр өөр нэрээр нэвтрэх
Comment[nso]=Tsena bjalo ka modiriši yo mongwe ka ntle le go tšwa
Comment[or]=ଲଗଆଉଟ ନକରି ଅନ୍ଯାନ୍ଯ ଚାଳକ ଭାବରେ ଲଗଇନ କରନ୍ତୁ
Comment[sr@Latn]=Prijavi se kao drugi korisnik bez odjavljivanja
Comment[te]=ప్రవేశద్వారం బయటకి వెళ్ళకుండా మరియొక వినియోగదారు లాగా లోపలికి నమోదవు
Comment[wa]=S' elodjî come èn ôte uzeu sins s' dislodjî
Comment[xh]=Ngena njengomnye umsebenzisi ngaphandle kokuba uphume
Comment[zu]=Ngena njengomunye umsebenzisi ngaphandle komngenisi -phuma
Exec=mdmflexiserver
Icon=mdmflexiserver
Terminal=false
Type=Application
Categories=GNOME;GTK;System;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=mdm
X-GNOME-Bugzilla-Component=general
