[Desktop Entry]
Encoding=UTF-8
Name=Login Window
Name[as]=প্ৰৱেশ উইন্ডো
Name[bn_IN]=লগ-ইন উইন্ডো
Name[dz]=ནང་བསྐྱོད་སྒོ་སྒྲིག
Name[gu]=પ્રવેશ વિન્ડો
Name[kn]=ದಾಖಲಾತಿ ವಿಂಡೋ
Name[mk]=Прозорец за најава
Name[or]=ଲଗଇନ ୱିଣ୍ଡୋ
Name[sr@Latn]=Prozor za prijavu
Name[te]=ప్రవేశద్వార గవాక్షం
Comment=Configure MDM login window appearance and behavior
Comment[bn_IN]=MDM লগ-ইন উইন্ডোর চেহারা ও আচরণ কনফিগার করুন
Comment[dz]=ཇི་ཌི་ཨེམ་ནང་བསྐྱོད་སྒོ་སྒྲིག་ འབྱུངསྣང་དང་སྤྱོད་ལམ་ རིམ་སྒྲིག་འབད།
Comment[gu]=MDM પ્રવેશ વિન્ડો દેખાવ અને વર્તણૂક રૂપરેખાંકિત કરો
Comment[kn]=MDM ಪ್ರವೇಶ ಕಿಟಕಿಯ ರೂಪ ಹಾಗು ವರ್ತನೆಯನ್ನು ಸಂರಚಿಸು
Comment[mk]=Конфигурирај го изгледот на најавниот прозорец на MDM и неговото однесување
Comment[te]=జిడియం ప్రవేశద్వారం గవాక్షం రూపం మరియు ప్రవర్తన రూపకరించు
TryExec=/usr/sbin/mdmsetup
Exec=gksu /usr/sbin/mdmsetup
Icon=mdmsetup
StartupNotify=true
Terminal=false
Type=Application
Categories=GNOME;GTK;Settings;System;XFCE;X-XFCE-SettingsDialog;X-XFCE-SystemSettings;
X-KDE-SubstituteUID=true
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=mdm
X-GNOME-Bugzilla-Component=general
